@model RPPP_WebApp.ViewModels.StatusiZadatkaViewModel
@{
    ViewData["Title"] = "Popis statusa";
}
<h2>Popis statusa zadatka</h2>
<a asp-action="Create">Unos novog statusa</a>
<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-end">
</pager>


<table class="table table-sm table-striped table-hover" id="tableevidencije">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                   Id 
                </a>
            </th>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                   Status
                </a>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var status in Model.statusi)
        {
            <tr>
                <td class="text-center">@status.Id</td>
                <td class="text-left">@status.Status</td>
                <td class="btn-group">
                    <a asp-action="Edit"
                   asp-route-id="@status.Id"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending"
                   class="btn btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i></a>

                    <form asp-action="Delete" method="post"
                      asp-route-page="@Model.PagingInfo.CurrentPage"
                      asp-route-sort="@Model.PagingInfo.Sort"
                      asp-route-ascending="@Model.PagingInfo.Ascending">
                        <input type="hidden" name="Id" value="@status.Id" />
                        <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>

        }
    </tbody>
</table>
@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
}


